// This template loads for the 'tab.friend-detail' state (app.js)
// 'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
// The FriendsCtrl pulls data from the Friends service (service.js)
// The Friends service returns an array of friend data

ion-view(view-title="{{chat.name}}")
  ion-nav-buttons(side="right")
    button.button.button-clear
      img.header-picture(ng-src="{{chat.picture}}")

  ion-content.chat(delegate-hangle="chatScroll")
    div.message-list
      div.message-wrapper(ng-repeat="message in messages")
        div.message(
          ng-class="message.userId === $root.currentUser._id ? 'message-mine' : 'message-other'"
        )
          div.message-text {{message.text}}
          span.message-timestamp {{message.timestamp | amDateFormat: 'HH:MM'}}

  ion-footer-bar.bar-stable.footer-chat.item-input-inset(keyboard-attach)
    button.button.button-clear.button-icon.button-positive.icon.ion-ios-upload-outline
    label.item-input-wrapper
      input(
      on-focus="inputUp()" 
      on-blur="inputDown()" 
      dir="auto" 
      type="text"
      ng-model="data.message"
      on-return="sendMessage()"
      )
    span(ng-if="data.message.length > 0")
      button.button.button-clear.button-positive(ng-click="sendMessage()") Send

    span(ng-if="!data.message || data.message.length === 0")
      button.button.button-clear.button-icon.button-positive.icon.ion-ios-camera-outline
      i.buttons-seperator.icon.ion-android-more-vertical
      button.button.button-clear.button-icon.button-positive.icon.ion-ios-mic-outline

